<head>
    <meta http-equiv="refresh" content="5">
  </head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


<h1 align="center">Nurse Interface</h1>

<div class="container">
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Device ID</th>
        <th>Prescribed Medicine</th>
        <th>Inject Time</th>
        <th>Saline ML</th>
        <th>Patient Name</th>
        <th>Patient Room Number</th>
        <th>Patient Age</th>
        <th>Flow rate time</th>
    </tr>
</thead>

    {% for i in obj %}
    <tr>
        <td>{{ i.device_id.device_id }}</td>
        <td>{{ i.prescribed_medicine }}</td>
        <td>{{ i.inject_time }}</td>
        <td>{{ i.saline_ml }} ml</td>
        <td>{{ i.patient.patient_name }}</td>
        <td>{{ i.patient.patient_room_number }}</td>
        <td>{{ i.patient.patient_age }}</td>
        <td>{{ i.flow_rate_time }}</td>
    </tr>
    {% endfor %}
</table>
   <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
   <script src="https://code.jquery.com/jquery-3.1.1.min.js">
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
